/* visto che sto usando la variabile p, applicandogli delle caratteristiche, queste caratteristiche verranno applicate a tutti gli elementi chiamati p nel html collegato  */
/* posso indicare piu elementi a cui applicare determinate carattweristiche dividendo e inserendoli uno difianco all'altro */
/* mettendo il cursore sopra le varie carratteristiche avro una descrizione */
p,
h1,
li {
    color: red;
}

/* vado ad applicare delle modifiche a un determinato elemento con un valore specifica utilizzando # */
#descr-id {
    color: blue;
}

.class1 {
    width: 500px;
    border: 1px solid black;
}

a:hover {
    color: black;
}

html {
    font-size: 15px;
    font-family: "open sans", sans-serif;
    background-color: #00539f;
}

h1 {
    font-size: 60px;
    text-align: center;
    margin: 0;
    padding: 20px 0;
    color: #00539f;
    text-shadow: 3px 3px 1px black;
}

body {
    width: 600px;
    margin: 0 auto;
    background-color: #ff9500;
    padding: 0 20px 20px 20px;
    border: 5px solid black;
}

p,
li {
    font-size: 16;
    line-height: 2;
    letter-spacing: 1px;
    margin: 0 auto;
}

img {
    display: block;
    margin: 0 auto;
}